<h1><%= @student.first_name %> <%= @student.last_name %></h1>
<h3>Graduation Year: <%= @student.grad_year%></h3>

<% if logged_in? %>
   <a href="/students/<%= @student.id %>/edit" style="display: inline-block;"><button>Edit Student</button></a>
   
   <form action="/students/<%= @student.id %>" method="post" style="display: inline-block;">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Student">
   </form>
<% end %>
