<style>
body  {
  background-color: #115517;
}

table {
  width:75%;
}
    
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
    
th, td {
  padding: 15px;
  text-align: left;
}
    
#t01 tr:nth-child(even) {
  background-color: #eee;
}
    
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
    
#t01 th {
  background-color: white;
  color: black;
}
</style>

<h1>Performance Tests</h1>

<% @students.each do |student|%>
    <h4><a href="/students/<%= student.id %>"><%= student.first_name %> <%= student.last_name %></h4></a>
    <br>
        <table style="table-layout:fixed">
        <col style="width:33.3%" span="3" />
            <tr>
                <th>Test</th>
                <th>Result</th>
                <th>Date</th>
            </tr>
            <% student.performance_tests.order("created_at").each do |test|%>
                <tr>
                    <td><%= test.name %></td>
                    <td><%= test.result %></td>
                    <td><%= test.testing_date.strftime("%B %Y") %></td>
                </tr>
            <% end %>
        </table><br> 
<% end %>