<br>
<h2><%= @performance_test.student.first_name%> <%= @performance_test.student.last_name%></h2>
<p>Test: <%= @performance_test.name %></p>
<p>Result: <%= @performance_test.result %></p>
<p>Date Completed: <%= @performance_test.testing_date.strftime("%B %Y")%></p>

<% if authorize(@performance_test) %>
   <form action="/performance_tests/<%= @performance_test.id %>/edit" method="get" style="display: inline-block;">
    <input type="submit" value="Edit Test" />
   </form>
   <form action="/performance_tests/<%= @performance_test.id %>" method="post" style="display: inline-block;">
    <input id="hidden" type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete Test" />
   </form>
<% end %>

<form action="/students/<%= @performance_test.student.id %>" method="get" style="display: inline-block;"> 
    <button><input type="submit" value="Other Tests"></button>
</form>